.label-pages{
    font-size: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.hr-bottom-label{
    background: linear-gradient(346deg, #ba8024 0%, #f8f188 50%, #ba8024 100%);
    height: 1px;
    width: 100%;
}

.flexrow{
    display: flex;
    flex-direction: row;
}
.flexcl{
    display: flex;
    flex-direction: column;
}
.juscen{
    justify-content: center;
}
.alcen{
    align-items: center;
}
.txcen{
    text-align: center;
}